<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quickshot Cropper</title>
    </head>
    <body style="margin: 0;width: 100%;height: 100%; display: none;">
        <div id="mouseElement" style="position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; z-index: 1500; filter: brightness(170%); outline: aquamarine solid 1px;"></div>
        <div id="container" style="filter: brightness(30%);">
          <img id="preview" draggable="false" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;" />
        </div>
        <script src="../controllers/cropper-photo.js"></script>
        <script>
          document.getElementById('container').style.width = window.screen.width + 'px';
          document.getElementById('container').style.height = window.screen.height + 'px';

          fullscreenScreenshot(base64data => {
            document.body.style.display = 'block';
            document.getElementById('preview').setAttribute("src", base64data);

            document.addEventListener('keydown', function (e) {
              if (e.which === 123)
                require('electron').remote.getCurrentWindow().toggleDevTools();
              else if (e.which === 27)
                require('electron').remote.getCurrentWindow().close();
            });

            let leftX, leftY, rightX, rightY, isDown;
            document.addEventListener('mousedown', function(e) {
              leftX = e.clientX;
              leftY = e.clientY;

              isDown = true;

              document.getElementById('mouseElement').display = 'block';

              document.getElementById('mouseElement').style.left = leftX + 'px';
              document.getElementById('mouseElement').style.top = leftY + 'px';

              console.log('Dragging mouse from X coords: ' + leftX + ', Y coords: ' + leftY);
            });

            document.addEventListener('mousemove', function(e) {
              if (!isDown) return;

              rightX = e.clientX;
              rightY = e.clientY;

              console.log('Moving to coords: ' + rightX + ', Y coords: ' + rightY);

              document.getElementById('mouseElement').style.width = (rightX - leftX) + 'px';
              document.getElementById('mouseElement').style.height = (rightY - leftY) + 'px';
            });

            document.addEventListener('mouseup', function(e) {
              isDown = false;

              console.log('Stopped to coords: ' + rightX + ', Y coords: ' + rightY);
              document.getElementById('mouseElement').display = 'none';

              require('../controllers/extract-photo')(base64data, { left: leftX, top: leftY, width: rightX - leftX, height: rightY - leftY })
            });
          },'image/png');
        </script>
  </body>
</html>
