<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quickshot Cropper</title>
    </head>
    <body style="margin: 0;width: 100%;height: 100%; display: none;overflow: hidden;">
        <div id="container">
          <div id="mouseElement" style="position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; z-index: 1500; backdrop-filter: brightness(400%); outline: aquamarine solid 1px;"></div>
        </div>
        <script src="../controllers/cropper-photo.js"></script>
        <script src="../controllers/tools.js"></script>
        <script>
          document.getElementById('container').style.width = window.screen.width + 'px';
          document.getElementById('container').style.height = window.screen.height + 'px';

          document.addEventListener('keydown', function (e) {
            if (e.which === 123)
              require('electron').remote.getCurrentWindow().toggleDevTools();
            else if (e.which === 27) {
              Region.cancel(true);
              require('electron').remote.getCurrentWindow().hide();
            }
          });
        </script>
        <script src="../controllers/save.js"></script>
  </body>
</html>
