<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quickshot Settings</title>
        <link rel="stylesheet" type="text/css" href="../assets/semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/ui-settings.css">
    </head>
    <body style="">
      <div class="ui container">
        <div class="ui menu" id="header">
          <div class="header item">
            Paramètres de Quickshot
          </div>
          <div class="item right" id="close" onclick="require('electron').remote.getCurrentWindow().close()"><i class="close icon"></i></div>
        </div>
        <h3 style="padding-top: 5%;" class="ui header">Raccourcis</h3>
        <p>Vous pouvez changer les raccourcis pour prendre des captures d'écran ici.</p>
        <h5 class="ui centered header">Photos</h5>
        <div class="ui form">
          <div class="equal width fields">
            <div class="field">
              <label>Capture d'écran</label>
              <input type="text" id="shortcut-photo" data-settings-id="">
            </div>
            <div class="field">
              <label>Capture d'écran rapide</label>
              <input type="text" id="shortcut-instant" data-settings-id="">
            </div>
            <div class="field">
              <label>Paramètres</label>
              <input type="text" id="shortcut-settings" data-settings-id="">
            </div>
            <a class="align" onclick="require('electron').shell.openExternal('https://www.electronjs.org/docs/api/accelerator')">Format d'un raccourci</a>
            <div class="field">
              <label>Extension</label>
              <input type="text" id="photo-extension" data-settings-id="">
            </div>
            <div class="field">
              <label>Compression</label>
              <input type="number" min="0" max="10" id="photo-compression" data-settings-id="">
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" id="auto-launch">
                <label>Activer le démarrage au lancement de Windows</label>
              </div>
            </div>
            <p class="align">0 vaut l'image la moins compressée, et 10 vaut l'inverse</p>
          </div>
        </div>
        <br><br>
        <button class="ui secondary button" style="width: 94%;position: fixed;bottom: 20px;" onclick="saveSettings(this)">Sauvegarder les paramètres</button>
      </div>
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="../assets/semantic/semantic.min.js"></script>
        <script>if (window.module) module = window.module;</script>
        <script>
        const { FileStorage } = require('a-capsule');
        let Storage = new FileStorage('settings.json');

        const AutoLaunch = require('auto-launch');
        let launch = new AutoLaunch({
            name: 'Quickshot'
        }), launchCheckbox = document.getElementById('auto-launch');

        launchCheckbox.addEventListener('change', function() {
          launch[this.checked ? 'disable' : 'enable']().then(() => {
            new Notification('Quickshot', {
              body: 'Démarrage automatique désactivé'
            });
            this.disabled = false;
          }).catch(console.error)
        });

        launch.isEnabled().then(x => launchCheckbox.checked = x);
        Storage.load().then(() => loadSettings());

        function loadSettings() {
          document.querySelectorAll('input[data-settings-id]').forEach(x => {
            console.log(x.dataset.settingsId === '' ? x.id : dataset.settingsId);
            x.value = Storage.get(x.dataset.settingsId === '' ? x.id : dataset.settingsId);
            x.addEventListener('change', () => Storage.set(x.dataset.settingsId === '' ? x.id : dataset.settingsId, x.value));
          });
        }

        function saveSettings(el) {
          el.disabled = true;
          Storage.save().then(() => el.disabled = false);
        }
        </script>
  </body>
</html>
